@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:wght@300&display=swap");

.App {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}
